<div id="insert-param">
  <%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.number_field :size, :placeholder => "Enter size of square", :min => 2, :max => 9 %> <br/> 
    <%= f.number_field :level, :placeholder => "Enter level of difficulty", :min => 2, :max => 5 %><br/>
    <div class="button"><%= f.submit "Start Game!" %></div>
  
<% end %>
</div>

