<p id="notice"><%= notice %></p>

<p>
  <b>Size:</b>
  <%= @game.size %>
</p>

<p>
  <b>Level:</b>
  <%= @game.level %>
</p>

<table id="square">
  <% @square.each_index do |row_i| %>
  <tr>
    <% @square.each_index do |cell_i| %>
      <td>
        <% if @square[row_i][cell_i] == 0 %>
          <input type="number">
        <% else %>
          <%= @square[row_i][cell_i] %>
        <% end %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>




<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
