<%= render 'layouts/header'%>

<p id="notice"><%#= notice %></p>

<%#= @game.size %><%#= @game.level %>

<div id="game">
  <%= form_tag result_path, :method => 'get' do %>
    <table class="square">
      <%= hidden_field_tag :size, @game.size %>
      <%= hidden_field_tag :id, @game.id %>
      
      <% @square.each_index do |row_i| %>
      <tr>
        <% @square.each_index do |cell_i| %>
            <% @tag = ('cell' + row_i.to_s + cell_i.to_s).to_sym %>
            <% if @square[row_i][cell_i] == 0 %>
              <td class="fill"><%= number_field_tag @tag, params[@tag], :min => 1, :max => @game.size %></td>
            <% else %>
              <td><%= @square[row_i][cell_i] %></td>
              <%= hidden_field_tag @tag, @square[row_i][cell_i] %>
            <% end %>
        <% end %>
      </tr>
      <% end %>
    </table>
    <div class="button"><%= submit_tag "Check", :name => nil %></div>

  <% end %>
</div>

<%#= link_to 'Edit', edit_game_path(@game) %>
<%#= link_to 'Back', games_path %>